



.section {
    margin-top: 125px;

}

.blockImg {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 15px;

}



.blockHead {
    display: grid;
    grid-template-rows: repeat(2, auto);
    margin-bottom: 40px;
    gap:25px;
    align-items: center;
    justify-content: center; 

}
    .titleNews {
        color: #fff;
        text-align: center;
        font-size: 28px;
    }

    .date {
        text-align: center;
        font-size: 17px;
        color: #acacac;
    }

    .descr {
        font-size: 17px;
        max-width: 70%;
        margin: 0 auto;
        color: #fff;
        line-height: 200%;
    }